@charset "utf-8";
/* 스타일 초기화 */
*, *::before, *::after{
  margin: 0;
  padding: 0;
}

h1{
  margin: 20px;
  padding-left: 220px;
}
/* table */
table {
  /* border-collapse: collapse; */
  font-size:15pt;
  border: 1px solid #181818;
}

th,td {
  padding-right:10px; 
  width:120px;
  height:30px;
  border: 1px solid #181818;
}

td{
  text-align: center;
}
